* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
}
section{
    /* START SECTION HEADER */
    position: relative;
    width:100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
section header{
    position: absolute;
    top: 0;
    width:100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
section header ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
section header ul li a {
    font-size: 13px;
    color: #111;
}
section header ul li a:hover{
    text-decoration: underline;
}
section header ul li a img{    /* IMG MENU */
    height: 16px;
    width: 16px;
}
section header ul button{    /* BUTTTONS */
    padding: 8px;
    border-radius: 3px;
    background:#1a73e8;
    border:0;
    outline:none;
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    cursor:pointer;
    transition: all 0.3s ease-in-out;
}
section header ul button:hover{
    background: #3284EE;
}
/* END SECTION HEADER */

/* START MAIN */

.main{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 580px;
    margin-bottom: 200px;
}
.main .searchBox{
    position:relative;
    width: 100%;
    margin-top: 20px;
}
.main .searchBox .search{
    width: 100%;
    padding: 13px;
    padding-left: 45px;
    padding-right: 60px;
    border-radius: 30px;
    outline:none;
    font-size
}